<!doctype html>
<html class="no-js" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="trainingApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header" ng-controller="HeaderController">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-inner">
            <ul class="nav navbar-nav pull-right" ng-show="!loggedIn">
              <li><a ng-href="#/register">Register</a></li>
              <li><a ng-href="#/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="loggedIn">
              <li><a ng-href="#/manage">Manage Feeds</a></li>
              <li><a ng-href="#/feed">New Feed</a></li>
              <li><a href="#" ng-click="logout()">Logout</a></li>
              <li><p class="navbar-text" ng-show="loggedIn">Logged in as: <span ng-bind="username"></span></p></li>
            </ul>
            <a ng-href="#" class="navbar-brand text-muted">News dashboard</a>
          </div>
        </nav>
      </div>

      <div ng-view></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-star"></span>2014</p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>
  </body>
</html>
