$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

table .btn.btn-link {
  padding: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

  .masonry-brick {
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    width: 90%;

    $num: 0;
    @each $color in
      #d3d3d3, #ffffe0, #90ee90, #c0b3e6,
      #f08080, #b0c4de, #e0ffff, #add8e6 {
        &.color-#{$num} {
          background-color: $color;
        }
      $num: $num + 1;
    }

  /* Recent ribbon mark begin.*/
    .ribbon-wrapper {
      width: 85px;
      height: 88px;
      overflow: hidden;
      position: absolute;
      top: -3px;
      right: -3px;
      transition: 0.5s linear all;
    }

    .ribbon-wrapper.ng-hide {
      opacity: 0;
    }

    .ribbon {
      font: bold 12px Sans-Serif;
      color: #333;
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      position: relative;
      padding: 5px 0;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #2A6496;
      color: #FFF;
      opacity: 1;
    }

  /* Recent ribbon mark end.*/
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .marketing {
    .masonry-brick {
      width: 30%;
      margin-left: 15px;
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
 .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .masonry-brick {
    width: 50%;
  }
}

/* Begin of Spinner styles*/
.spinnerParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: relative;
  top: 30%;

  > div {
    background-color:#333;
    height:100%;
    width:6px;
    display:inline-block;
    -webkit-animation:stretchdelay 1.2s infinite ease-in-out;
    -moz-animation:stretchdelay 1.2s infinite ease-in-out;
    -ms-animation:stretchdelay 1.2s infinite ease-in-out;
    -o-animation:stretchdelay 1.2s infinite ease-in-out;
    animation:stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay:-1.1s;
    -moz-animation-delay:-1.1s;
    -ms-animation-delay:-1.1s;
    -o-animation-delay:-1.1s;
    animation-delay:-1.1s;
  }
  .rect3 {
    -webkit-animation-delay:-1.0s;
    -moz-animation-delay:-1.0s;
    -ms-animation-delay:-1.0s;
    -o-animation-delay:-1.0s;
    animation-delay:-1.0s;
  }
  .rect4 {
    -webkit-animation-delay:-0.9s;
    -moz-animation-delay:-0.9s;
    -ms-animation-delay:-0.9s;
    -o-animation-delay:-0.9s;
    animation-delay:-0.9s;
  }
  .rect5 {
    -webkit-animation-delay:-0.8s;
    -moz-animation-delay:-0.8s;
    -ms-animation-delay:-0.8s;
    -o-animation-delay:-0.8s;
    animation-delay:-0.8s;
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
/* End of Spinner styles*/

.new-news-notification {
  text-align: center;
  display: block;
  background-color: #428bca;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  cursor: pointer;
  color: #FFF;
}
