<form class="panel">
  <div ng-show="error" class="alert alert-danger">
    {{error}}
  </div>
  <div class="form-group" ng-class="error ? 'has-error' : ''">
    <label class="control-label">Uri</label>
    <input ng-model="uri" type="text" name="uri" class="form-control" />
  </div>
  <div class="form-group">
    <label class="control-label">Type</label>
    <select ng-model="type" type="text" name="type" class="form-control">
      <option value="twitter" selected="selected">Twitter User</option>
      <option value="twitterHashtag">Twitter Hashtag</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default" ng-click="addFeed()">Add Feed</button>
</form>

<div ng-show="spinnerShow" class="spinnerParent" unselectable="on">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>


<div id="successModal" class="modal fade bs-example-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Success</h4>
      </div>
      <div class="modal-body">
        Congratulations the feed has been saved.
      </div>
    </div>
  </div>
</div>


