<form class="panel" ng-submit="login(credentials)">
  <div ng-show="error || message" class="alert" ng-class="{'alert-danger': error, 'alert-success': message}">
    {{error}}
    {{message}}
  </div>
  <div class="form-group" ng-class="error ? 'has-error' : ''">
    <label class="control-label">Username</label>
    <input ng-model="credentials.username" type="text" name="username" class="form-control" />
  </div>
  <div class="form-group" ng-class="error ? 'has-error' : ''">
    <label class="control-label">Password</label>
    <input ng-model="credentials.password" type="password" name="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="logging">Login</button>
</form>
