<select type="text" ng-model="feedToFilter" name="feed" class="form-control" id="feedFilter"
  ng-options="((feed.type == 'twitter' ? 'T' : '#') + ' '+ feed.uri) for feed in userFeeds track by feed._id"
  ng-change="filterNews()">
  <option value="">-- filtered by a feed --</option>
</select>

<a class="new-news-notification" ng-show="newNews.length>0" ng-click="showNewNews()">
  See {{newNews.length}} new new{{newNews.length>1? 's' : ''}}.
</a>
<div masonry class="row marketing" infinite-scroll="loadMore()" infinite-scroll-distance="2">
  <div class="masonry-brick color-{{ $index % 8 }}" ng-repeat="newsItem in news">
    <div ng-show="newsItem.recent" class="ribbon-wrapper"><div class="ribbon">NEW</div></div>
    <h4>{{newsItem.title}}</h4>
    <p ng-bind-html="newsItem.body"></p>
    <p>{{newsItem.date | date:'medium'}}</p>
  </div>
</div>
