<div class="panel panel-default">
  <div class="panel-heading">Manage Feeds</div>
  <div ng-show="error || message" class="alert" ng-class="{'alert-danger': error, 'alert-success': message}">
    {{error}}
    {{message}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Uri</th>
        <th>Type</th>
        <th>Remote Id</th>
        <th></th>
      </tr>
    </thead>
    <tr ng-repeat="feed in feeds">
      <td>{{feed.uri}}</td>
      <td>{{feed.type}}</td>
      <td>{{feed.remoteId}}</td>
      <td><button type="button" class="btn btn-link" ng-click="remove(feed._id)">Remove</button></td>
    </tr>
  </table>
</div>
