<form class="panel" ng-submit="register()">
  <div ng-show="message" ng-class="{'alert-success': message}" class="alert">
      {{message}}
  </div>
  <div ng-show="errors" ng-class="{'alert-danger': errors}" class="alert">
    <div ng-repeat="error in errors">
        {{error}}
    </div>
  </div>
  <div class="form-group" ng-class="!emptyUsername && msgError.username ? 'has-error' : ''">
    <label class="control-label">Email username</label>
    <input ng-model="username" type="text" name="username" class="form-control" />
  </div>
  <div class="form-group" ng-class="{'has-success': passwordsExist && passwordsMatch,'has-error': passwordsExist && !passwordsMatch}">
    <label class="control-label">Password</label>
    <input ng-model="password" type="password" name="password" class="form-control" />
  </div>
  <div class="form-group" ng-class="{'has-success': passwordsExist && passwordsMatch,'has-error': passwordsExist && !passwordsMatch}">
    <label class="control-label">Repeat Password</label>
    <input ng-model="password2" type="password" class="form-control" />
  </div>
  <button ng-disabled="{{registering}}" type="submit" class="btn btn-default" ng-disabled="registering">Submit</button>
</form>